# venv files
.venv

# DB data
data
db.sqlite3

# Python cache
backend/thoth/thoth/__pycache__
backend/thoth/thoth/migrations/__pycache__
backend/thoth/db/__pycache__
backend/thoth/statics/__pycache__

# VS Code settings
.vscode