<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Campus Connect</title>
  
  <link rel="stylesheet" href="css/congratulations.css">
</head>

<body>
 

      <div class="big-congratulations-container">
        
        <div class="congratulations-container">
          <h4>Congratulations! Your form has been submitted</h4>
          <button class="button" onclick="location.href='/home'">Continue</button>
        </div>
      
      </div>


 
</body>

</html>