<!DOCTYPE html>
<html lang="en">
<head>

  <title>Campus Connect</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/index.css">

</head>
<body>
  <div id="container">
    <div id="titleBar">
      <div class="logo">Campus Connect</div>
      <p>Campus Connect is a place where you can find your dream university & connect with communities internationally.</p>
    </div>

    <div id="logintBar">
      <div class="header">
        <ul class="nav-right">
          <div class="search-container">
            <li class="search-bar">
              <input id="search-input" type="text" onkeydown="search(event)">
              <span class="label">Search Universities</span>
              <span class="label-sm">Search</span>
            </li>
          </div>
          <li>
            <img id="profile-picture" class="profile-picture" src="path/to/profile-picture.jpg" alt="Profile Picture">
            <button id="signin-button" onclick="location.href='log_in.html'">Log in</button>
          </li>
        </ul>
      </div>

      <div class="login-container">

    

                <ul>
                    <p>Find your Perfect University</p>
                    <li>
                    <select name="programName" id="programs">
                        <option value="" disabled selected>Programs</option>
                        <option value="0">2+2 years</option>
                        <option value="1">4 years</option>
                      </select>
                    </li>
                    <li>
                      <select id="living">
                        <option value="" disabled selected>Type of Living</option>
                        <option value="steak">Steak</option>
                        <option value="pasta">Pasta</option>
                        <option value="salad">Salad</option>
                      </select>
                    </li>
                    <li>
                      <select id="weather">
                        <option value="" disabled selected>Weather</option>
                        <option value="steak">Steak</option>
                        <option value="pasta">Pasta</option>
                        <option value="salad">Salad</option>
                      </select>
                    </li>
                    <li>
                      <select id="how many aliens">
                        <option value="" disabled selected>How Many Aliens</option>
                        <option value="steak">Steak</option>
                        <option value="pasta">Pasta</option>
                        <option value="salad">Salad</option>
                      </select>
                    </li>
                    <li>
                      <select id="tuition fee">
                        <option value="" disabled selected>Tuition Fee</option>
                        <option value="steak">Steak</option>
                        <option value="pasta">Pasta</option>
                        <option value="salad">Salad</option>
                      </select>
                    </li>
                    <li>
                      <select id="countryChoices">
                        <option value="" disabled selected>Choose a Country</option>
                        <option value="0">United States</option>
                        <option value="1">Canada</option>
                        <option value="2">Australia</option>
                        <option value="3">United Kingdom</option>
                        <option value="3">New Zealand</option>
                      </select>
                    </li>
                    <div class="sc">
                        <input type="checkbox">
                        <p class="check">Scholarship</p>
                    </div>
                    <div class="search-div">
                    <input type="submit" value="Search" class="search" onclick="console.log('1as')">
                    </div>
                </ul>
      </div>

      <div class="footer">
        <a href="">About</a> &nbsp; <a href="">Help</a> &nbsp; <a href="">Press</a> &nbsp; <!--<a href="">API</a> <span class="custom-bullet">&#8226;</span>--> <a href="">Jobs</a> &nbsp; <a href="">Privacy</a> &nbsp; <a href="">Terms</a><!-- <span class="custom-bullet">&#8226;</span> <a href="">Locations</a> <span class="custom-bullet">&#8226;</span> <a href="">Language</a> <span class="custom-bullet">&#8226;</span> <a href="">Campus Connect Verified</a>--><p class="copyright">© 2024 Campus Connect</p>
      </div>

    </div>


  </div>

  


  <script src="js/index.js"></script>
</body>
</html>




