<!DOCTYPE html>
<html lang="en">

<head>

  <title>thinkspace.com</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="team" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="css/style3.css">

</head>

<body>

  <section class="preloader">
    <div class="spinner">

      <span class="spinner-rotate"></span>

    </div>
  </section>

  <div id="container">

    <div class="navbar-x" id="navbarx">
      <span class="close-button" onclick="closeNavbar()">&times;</span>
      <ul>
        <li>
          <p>Selection</p>
        </li>
        <li>
          <select name="programName" id="programs">
            <option value="" disabled selected>Programs</option>
            <option value="0">2+2 years</option>
            <option value="1">4 years</option>
          </select>
        </li>
        <li>
          <select id="living">
            <option value="" disabled selected>Type of Living</option>
            <option value="steak">Steak</option>
            <option value="pasta">Pasta</option>
            <option value="salad">Salad</option>
          </select>
        </li>
        <li>
          <select id="weather">
            <option value="" disabled selected>Weather</option>
            <option value="steak">Steak</option>
            <option value="pasta">Pasta</option>
            <option value="salad">Salad</option>
          </select>
        </li>
        <li>
          <select id="how many aliens">
            <option value="" disabled selected>How Many Aliens</option>
            <option value="steak">Steak</option>
            <option value="pasta">Pasta</option>
            <option value="salad">Salad</option>
          </select>
        </li>
        <li>
          <select id="tuition fee">
            <option value="" disabled selected>Tuition Fee</option>
            <option value="steak">Steak</option>
            <option value="pasta">Pasta</option>
            <option value="salad">Salad</option>
          </select>
        </li>
        <li>
          <select id="countryChoices">
            <option value="" disabled selected>Choose a Country</option>
            <option value="0">United States</option>
            <option value="1">Canada</option>
            <option value="2">Australia</option>
            <option value="3">United Kingdom</option>
          </select>
        </li>
        <input type="submit" value="Search" onclick="console.log('1as')">
      </ul>
    </div>



    <div id="navBar">
      <div class="middle">


        <button class="toggle-button hover" onclick="toggleNavbar()">☰</button>

        <div class="page-link" data-target="one">1</div>
        <div class="page-link" data-target="two">2</div>
        <div class="page-link" data-target="three">3</div>
        <div class="page-link" data-target="four">4</div>
        <div class="page-link" data-target="five">5</div>


      </div>
    </div>
    <div id="container-result">
      <div class="page active" id="one">




        <div class="slides">

          <div class="con-slide">
            <div id="slide1" class="slide"></div>
            <div class="img-content">
              <img id="img1" class="img-center">
            </div>
          </div>

          <div class="con-slide" onclick="window.location.href='info2.html'">
            <div id="slide2" class="slide"></div>
            <div class="img-content">
              <img id="img2" class="img-center">
            </div>
          </div>

          <div class="con-slide">
            <div id="slide3" class="slide"></div>
            <div class="img-content">
              <img id="img3" class="img-center">
            </div>
          </div>

          <div class="con-slide">
            <div id="slide4" class="slide"></div>
            <div class="img-content">
              <img id="img4" class="img-center">
            </div>
          </div>

          <div class="con-slide">
            <div id="slide5" class="slide"></div>
            <div class="img-content">
              <img id="img5" class="img-center">
            </div>
          </div>

        </div>



      </div>





      <div id="two" class="page">
        <div class="slides">
          <div id="slide6" class="slide">Slide 6</div>
          <div id="slide7" class="slide">Slide 7</div>
          <div id="slide8" class="slide">Slide 8</div>
          <div id="slide9" class="slide">Slide 9</div>
          <div id="slide10" class="slide">Slide 10</div>
        </div>
      </div>
      <div id="three" class="page">
        <div class="slides">
          <div id="slide11" class="slide">Slide 11</div>
          <div id="slide12" class="slide">Slide 12</div>
          <div id="slide13" class="slide">Slide 13</div>
          <div id="slide14" class="slide">Slide 14</div>
          <div id="slide15" class="slide">Slide 15</div>
        </div>
      </div>
      <div id="four" class="page">
        <div class="slides">
          <div id="slide16" class="slide">Slide 16</div>
          <div id="slide17" class="slide">Slide 17</div>
          <div id="slide18" class="slide">Slide 18</div>
          <div id="slide19" class="slide">Slide 19</div>
          <div id="slide20" class="slide">Slide 20</div>
        </div>
      </div>
      <div id="five" class="page">
        <div class="slides">
          <div id="slide21" class="slide">Slide 21</div>
          <div id="slide22" class="slide">Slide 22</div>
          <div id="slide23" class="slide">Slide 23</div>
          <div id="slide24" class="slide">Slide 24</div>
          <div id="slide25" class="slide">Slide 25</div>
        </div>
      </div>
    </div>
  </div>




  <script src="js/custom3.js"></script>
</body>

</html>