<!DOCTYPE html>
<html lang="en">
<head>

  <title>Campus Connect</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="css/result-page.css">

</head>
<body>
    <section class="preloader">
        <div class="spinner">
            <span class="spinner-rotate"></span>
        </div>
    </section>

    <div id="container">
        <div class="navbar-x" id="navbarx">
            <span class="close-button" onclick="closeNavbar()">&times;</span>
            <ul>
            <li><p>Selection</p></li>
            <li>
              <select name="programName" id="programs">
                  <option value="" disabled selected>Programs</option>
                  <option value="two">2 years</option>
                  <option value="four">4 years</option>
                </select>
              </li>
              <li>
                <select id="cities">
                  <option value="" disabled selected>Type of Cities</option>
                  <option value="metropolitan">Metropolitan</option>
                  <option value="mixed">Mixed</option>
                  <option value="suburb">Suburb</option>
                </select>
              </li>
              <li>
                <select id="climate">
                  <option value="" disabled selected>Climate</option>
                  <option value="warm">Warm Climate</option>
                  <option value="cold">Cold Climate</option>
                </select>
              </li>
              <li>
                <select id="proprietorship">
                  <option value="" disabled selected>Public / Private</option>
                  <option value="public">Public</option>
                  <option value="private">Private</option>
                </select>
              </li>
              <li>
                <select id="countryChoices">
                  <option value="" disabled selected>Choose a Country</option>
                  <option>United States</option>
                  <option>Canada</option>
                  <option>Australia</option>
                  <option>United Kingdom</option>
                  <option>New Zealand</option>
                </select>
              </li>
            <input type="submit" value="Search" onclick="console.log('1as')"><!-- Rename the '1as' -->
        </ul>
        </div>

        <div id="navBar">
            <div class="upper">
                <div class="home"></div>
            </div>
            <div class="middler">
                <div class="middle" id="pageLinksContainer">
                    <button class="toggle-button hover" onclick="toggleNavbar()">☰</button>
                </div>
            </div>
            <div class="downer">
                <div class="profile-picture" onclick="toggleDropdown()">
                    <div class="dropdown-menu">
                        <!-- Dropdown menu links from your initial code -->
                    </div>
                </div>
            </div>
        </div>

        <div id="container-result">
            <!-- Dynamic content will be inserted here -->
        </div>
    </div>

  <script src="js/result-page.js"></script>
</body>
</html>